/* Color palette: #DEFCF9 #CADEFC #C3BEF0 #CCA8E9 */

body {
    text-align: center;
    background-color: #C3BEF0;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 3rem;
    padding: 4vh 0 10vh;
}

h2 {
    font-size: 2rem;
}

button {
    padding: 15px 5px 15px 15px;
    display: block;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    border-width: 1px;
    background-color: #CADEFC;
    border-color:#CADEFC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
  
button:hover {
    background: #CCA8E9;
    border-color:#CCA8E9;
}

.player-section {
    display: inline-block;
    width: 30vw;
}

.player-name {
    margin-bottom: 7vh;
}

.score-section {
    position: relative;
    bottom: 9vh;
    display: inline-block;
    margin-bottom: 7vh;
}

.dice {
    width: 35%;
}

.invisible {
    visibility: hidden;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
        padding: 4vh 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
        position: absolute;
        /* Centered on parent element */
        left: 50%;
        /* Centered on element itself */
        transform: translate(-50%, 0);
        bottom: 5%;
    }

    .player-section {
        /* position: absolute;
        top: 25vh; */
        width: 45vw;
    }

    /* .player1 {
        left: 0;
    }

    .player2 {
        right: 0;
    } */
    
    .score-section {
        position: absolute;
        /* Centered on parent element */
        left: 50%;
        /* Centered on element itself */
        transform: translate(-50%, 0);
        bottom: 15%;
    }

    .score-section h2 {
        font-size: 1.2rem;
    }
}